:root {
    --dark-blue: #023047;
    --green: #06D6A0;
    --yellow: #FFD166;
    --light-color: #F1FAEE;
    --pink: #EF476F;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

/* General Buttons */
.sub{
  width: 130px;
  height: 40px;
  background: linear-gradient(to bottom, #4eb5e5 0%,#389ed5 100%); /* W3C */
  border: none;
  border-radius: 5px;
  position: relative;
  border-bottom: 4px solid #2b8bc6;
  color: #fbfbfb;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 1px 1px 1px rgba(0,0,0,.4);
  font-size: 15px;
  text-align: left;
  text-indent: 5px;
  box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
  cursor: pointer;

/* Just for presentation */  
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
.sub:active {
  box-shadow: 0px 2px 0px 0px rgba(0,0,0,.2);
  top: 1px;
}

.sub:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-top: 20px solid #187dbc;
  border-bottom: 20px solid #187dbc;
  border-left: 16px solid transparent;
  border-right: 20px solid #187dbc;
  position: absolute;
  opacity: 0.6; 
  right: 0;
  top: 0;
  border-radius: 0 5px 5px 0;  
}

/* Button pointing left */

.sub.back {
  text-align: right;
  padding-right: 12px;
  box-sizing: border-box;
}
.sub.back:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-top: 20px solid #187dbc;
  border-bottom: 20px solid #187dbc;
  border-right: 16px solid transparent;
  border-left: 20px solid #187dbc;
  position: absolute;
  opacity: 0.6; 
  left: 0;
  top: 0;
  border-radius: 5px 0 0 5px;    
}

/* Single buttons */
.sub.site {
  width: 40px;
  text-align: center;
  text-indent: 0;
}
.sub.site:after{
  display: none;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    outline: white;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid red;
  }



/* Presentation stuff */
.holder {
  width: 400px;
  background: #efefef;
  padding: 30px 10px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 20px;  
  text-align: center;
}

h1 {
  font: 400 16px 'Open Sans';
  text-transform: uppercase;
  color: #999;
  text-shadow: 1px 1px 1px #fff;
  margin-bottom: 30px;
} 

body{
    background-image: url(./images/background.jpg);

}

.pricing-table-container {
    font-family: "Poppins", sans-serif;
}

.pricing-table-container .pricing-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pricing-table-container h2 {
    margin-right: 32px;
    font-size: 24px;
}

.pricing-table-container .plans-switch {
    width: 250px;
    background: var(--dark-blue);
    height: 55px;
    appearance: none;
    border-radius: 24px;
    outline: none;
    cursor: pointer;
    position: relative;
}

.pricing-table-container .plans-switch-container {
    position: relative;
    color: #fff;
    display: inline-block;
}

.pricing-table-container .plans-switch-container .monthly {
    position: absolute;
    left: 36px;
    top: 18px;
    pointer-events: none;
}

.pricing-table-container .plans-switch-container .yearly {
    position: absolute;
    right: 36px;
    top: 18px;
    pointer-events: none;
}

.pricing-table-container .plans-switch::before {
    content: "";
    position: absolute;
    height: 44px;
    width: 120px;
    border-radius: 24px;
    background: var(--green);
    top: 50%;
    transform: translateY(-50%);
    left: 6px;
    transition: all 0.5s;
}

.pricing-table-container .plans-switch:checked::before {
    left: 138px;
    width: 106px;
}


.pricing-table {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}


.pricing-table .table {
    background: var(--light-color);
    width: 260px;
    padding: 32px;
    position: relative;
}

.pricing-table h3 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0;
}

.pricing-table .price-container {
    display: flex;
    align-items: center;
}

.pricing-table .price-container .price {
    font-size: 56px;
    font-weight: bold;
    padding-right: 16px;
}

.pricing-table .description {
    font-size: 15px;
    color: #222;
}

.pricing-table .features {
    list-style: none;
    padding: 0;
}

.pricing-table .features li {
    margin: 24px 0;
    display: flex;
    align-items: center;
}

.pricing-table .features li::before {
    content: url('images/check-icon.svg');
    margin-right: 16px;
    margin-top: 4px;
}

.pricing-table a.btn {
    background: var(--dark-blue);
    padding: 16px 0;
    display: inline-block;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 24px;
    margin-top: 16px;
    transition: all 400ms;
}

.pricing-table a.btn:hover {
    background: #022435;
}


.pricing-table .table img.table-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.pricing-table .table .content {
    z-index: 200;
    position: relative;
}


.pricing-table .table.best-value {
    background: var(--dark-blue);
    color: #fff;
    border-radius: 24px;
    width: 280px;
}

.pricing-table .table.table.best-value .value {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 8px;
    border-radius: 24px 24px 0 0;
    background: var(--pink);
    font-weight: bold;
}

.pricing-table .table.table.best-value .content {
    padding-top: 32px;
}

.pricing-table .table.table.best-value .price {
    font-size: 68px;
}

.pricing-table .table.table.best-value a.btn {
    background: var(--yellow);
    color: #000;
    transition: all 400ms;
}

.pricing-table .table.table.best-value a.btn:hover {
    background: #ffe4a4;
} 

.pricing-table .table.best-value .description {
    color: #eee;
}